@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a110a;
}

@theme {
  --color-background: #020402;
  --color-surface: #0a110a;
  --color-card: #202220;

  --color-border: #163d20;
  --color-border-soft: #1f4328;

  --color-primary: #3ba34f;
  --color-primary-hover: #49bd60;
  --color-primary-dark: #257336;

  --color-foreground: #f9f9f9;
  --color-muted: #a4aa9d;
  --color-subtle: #6a7563;
  --color-display: #465443;
}

.font-telma {
  font-family: var(--font-telma), serif;
  font-weight: 300;
}

.font-technor {
  font-family: var(--font-technor), sans-serif;
  font-weight: 700;
}

.font-zodiak {
  font-family: var(--font-zodiak), serif;
  font-weight: 400;
}

.skills-section {
  view-timeline: --skills-section block;
}

.skill-container {
  animation: containerMove linear both;
  animation-timeline: --skills-section;
  animation-range: entry 10% exit 90%;
  will-change: transform;
}

@keyframes containerMove {
  0% {
    transform: translateX(20%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20%);
  }
}

.skill-card {
  animation: cardPerspective linear both;
  animation-timeline: --skills-section;
  animation-range: entry 10% exit 90%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform;
}

@keyframes cardPerspective {
  0% {
    transform: perspective(550px) translate3d(0, 28px, 0) rotateY(-24deg);
  }

  50% {
    transform: perspective(550px) translate3d(0, 0, 0) rotateY(0deg);
  }

  100% {
    transform: perspective(550px) translate3d(0, 28px, 0) rotateY(24deg);
  }
}
