@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a110a;
}

@theme {
  --color-background: #020402;
  --color-surface: #0a110a;
  --color-card: #202220;

  --color-border: #163d20;
  --color-border-soft: #1f4328;

  --color-primary: #3ba34f;
  --color-primary-hover: #49bd60;
  --color-primary-dark: #257336;

  --color-foreground: #f9f9f9;
  --color-muted: #a4aa9d;
  --color-subtle: #6a7563;
  --color-display: #465443;
}

.font-telma {
  font-family: var(--font-telma), serif;
  font-weight: 300;
}

.font-technor {
  font-family: var(--font-technor), sans-serif;
  font-weight: 700;
}

.font-zodiak {
  font-family: var(--font-zodiak), serif;
  font-weight: 400;
}

.skill-container {
  animation: containerMove linear both;
  animation-timeline: view();
  animation-range: entry 20% exit 80%;
}

@keyframes containerMove {
  0% {
    transform: translateX(20%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20%);
  }
}

.skill-card {
  --card-perspective: 200px;

  animation: cardPerspective linear both;
  animation-timeline: view();
  animation-range: entry 40% exit 30%;
}

@media (min-width: 768px) {
  .skill-card {
    --card-perspective: 400px;
  }
}

@media (min-width: 1024px) {
  .skill-card {
    --card-perspective: 600px;
  }
}

@media (min-width: 1280px) {
  .skill-card {
    --card-perspective: 800px;
  }
}

@keyframes cardPerspective {
  0% {
    transform: perspective(var(--card-perspective)) translateY(38px)
      rotateY(-25deg);
  }

  50% {
    transform: perspective(var(--card-perspective)) translateY(0) rotateY(0deg);
  }

  100% {
    transform: perspective(var(--card-perspective)) translateY(38px)
      rotateY(25deg);
  }
}
